<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAC Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

  <div class="welcome">
	<h1 align="center">
    		Get registered<br><span>Fast</span> & <span>Now</span>
	<br>
	<br>
	<a href="#login"><button class="button-1s2">Get Started</button></a>
  	</h1>
	
	
  </div>
  
  <section id="login">
	<form method="POST" action="/login">
		<h3 align="center">Login to your Account</h3>
		<input type="email" name="email" placeholder="Email" class="input-style-1s2">
    <input type="password" name="password" placeholder="Password" class="input-style-1s2">
		<br>
		<br>
		<button class="button-1s2">Login</button>
	</form>
  </section>
</body>
</html>