{% extends 'base.html' %}

{% block title %} Signup for a VidBuy Account {% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- <title></title> -->
</head>
<body>

  <section id="login">
  <form method="POST" action="/signup">
    <h1 align="center">Sign up</h1>
    <!-- <p></p> -->
    <input type="text" name="name" placeholder="Name" class="input-style-1s2">
    <br>
    <input type="number" name="age" placeholder="Age" class="input-style-1s2">
    <br>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <input type="date" name="date_of_birth" class="input-style-1s2">
      <span>Date of birth</span>
    </div>
    <br>
    <select name="gender" class="input-style-1s2">
      <option>Male</option>
      <option>Female</option>
      <option>Prefer not to say</option>
    </select>
    <br>
    <select name="state_of_origin" class="input-style-1s2">
      <option>Abia</option>
      <option>Adamawa</option>
    </select>
    <br>
    <select name="country" class="input-style-1s2">
      <option>Togo</option>
      <option>Benin Republic</option>
      <option>Nigeria</option>
      <option>Ghana</option>
    </select>
    <br>
    <input type="email" name="email" placeholder="Email" class="input-style-1s2">
    <br>
    <select name="state_of_residence" class="input-style-1s2">
      <option>Abia</option>
      <option>Adamawa</option>
    </select>
    <br>
    <select name="individuality_status" class="input-style-1s2">
      <option>Individual</option>
      <option>Company</option>
    </select>
    <br>
    <input type="password" name="password1" placeholder="Password" class="input-style-1s2">
    <br>
    <input type="password" name="password2" placeholder="Confirm Password" class="input-style-1s2">
    <br>
    <br>
    <button class="button-1s2">Signup</button>
  </form>
  <p>Have an account? <a href="/login" style="color: skyblue;">Login here<a></p>
  </section>

</body>
</html>

{% endblock %}
    