{% extends 'base.html' %}

{% block title %} Dashboard - {{ CurrentUser['name'] }} {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAC Website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
	<div>{{ (CurrentUser['name'][0] + CurrentUser['name'][1]).upper() }}</div>
	<h3>VidBuy <span>Companies</span></h3>
	<p>&nbsp;</p>
</header>
<h2>Your Companies</h2>

<div class="a-company">
	<div class="a-company-details">
		<h2>Ola and Sons Metals</h2>
		<p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
	</div>

	<div class="a-company-actions">
		<button style="color: #00ff00; background: #075307;">View</button>
		<button style="color: #ff0000; background: #530707;">Remove</button>
	</div>
</div>
<div class="a-company">
	<div class="a-company-details">
		<h2>Ola and Sons Metals</h2>
		<p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
	</div>

	<div class="a-company-actions">
		<button style="color: #00ff00; background: #075307;">View</button>
		<button style="color: #ff0000; background: #530707;">Remove</button>
	</div>
</div>
<div class="a-company">
	<div class="a-company-details">
		<h2>Ola and Sons Metals</h2>
		<p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
	</div>

	<div class="a-company-actions">
		<button style="color: #00ff00; background: #075307;">View</button>
		<button style="color: #ff0000; background: #530707;">Remove</button>
	</div>
</div>
<div class="a-company">
	<div class="a-company-details">
		<h2>Ola and Sons Metals</h2>
		<p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
	</div>

	<div class="a-company-actions">
		<button style="color: #00ff00; background: #075307;">View</button>
		<button style="color: #ff0000; background: #530707;">Remove</button>
	</div>
</div>


<div class="input-container" id="new-company">
    <form method="POST">
      <h3 align="center">Fill in your company details<br>to get started.</h3>
      <input type="text" placeholder="Comapany Name" class="input-style-1s2">
      <br>
      <input type="text" placeholder="Comapany Address" class="input-style-1s2"><br>
      <input type="text" placeholder="Comapany Name" class="input-style-1s2"><br>
      <input type="number" placeholder="" class="input-style-1s2"><br>
      <div class="input-sub-cont">
	<input type="time" placeholder="Comapany Name" class="input-style-1s2">
	<span>Time</span>
      </div><br>
      <div class="input-sub-cont">
	<input type="date" placeholder="Comapany Name" class="input-style-1s2">
	<span>Date</span>
      </div><br>

      <input type="file" placeholder="Comapany Name" class="input-style-1s2 file-upload"><br>

      <button class="button-1s2">Next</button>
    </form>
  </div>

</body>
</html>
{% endblock content %}